---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};

const title = "Heterl0's blogs";
const description = "A collection of blogs by Heterl0, a software developer and tech enthusiast. The blog covers a wide range of topics, including web development, programming, and technology.";
const pageType = "archive";
---
<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
